* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
nav ol{
    display: flex;
    gap: 35px;
   
   
   
}
ol li a {
    font-size: 1.5625rem;
    color: #000;
    background-color: #F4D35E;
    padding: 10px;
    border-radius: 10px;
    

}
ol li a:hover{
    background-color: #082846;
    color: #F4D35E;

}

.img-logo{
    height: 180px;
    width: 180px;
}
.titulo{
    font-size: 3.75rem;
    color: #F4D35E ;
   
}

.principal{
    background-color: #F4D35E;
    
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding-bottom: 200px;
    height: 100vh;
    padding-top: 100px;
    
    
}
.titulo-principal{
    color: #000;
}
.Pricipal-texto-1{
    color: #F4D35E;
    text-align: center;
    font-size: 80px;
    padding-bottom: 100px;
}
.principal-texto-2{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.foto-principal{
    height: 700px;
    border-radius: 50px;
}
.exalbuns{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    
}
.albuns-titulo{
    color: #F4D35E;
    font-size: 80px ;
    margin-bottom: 30px;
 
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    color: #F4D35E;
   
}
ul li {
    width: 30%;
    text-align: center;
    font-size: 20px;
}
ul li img{
    height: 300px;
}
ul li img:hover{ 
    transform: scale(1.2);
}

footer{
    height: 200px;
    background-color: #F4D35E;
    
}
.copy{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    color: #fff;
    font-size: 30px;
}


@media (max-width: 650px){
    
    .img-logo{
        height: 150px ;
        width: 150px ;
        
       
        
    }
    .titulo{
        font-size: 2.5rem;
        color: #F4D35E ;
        margin-left: 10vw;
       
    }
    ol li a{
        display: none;
        
    }

    .foto-principal{
        height: 200px;
        transform: translate(50%, 40%);
        padding-bottom: 20px;

    }
    .principal{
        flex-direction: column;
    }
    .Pricipal-texto-1{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .principal-texto-2{
        font-size: 5vw;
        width: 100vw;
        transform: translateY(-30%);
        
    }
    .albuns-titulo{
        font-size: 2rem;
        
    }

    ul li img{
        height: 100px;

    }
    ul li{
        font-size: 3vw;
    }
    footer{
        height: 100px;
    }
    .copy{
        font-size: 1rem;
        padding-top: 40px;
    }



}